@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}

*{
  padding: 0;
  margin: 0;
}

.hoverIcon:hover{
color: white !important;
}